{% extends 'base.html' %}
{% load static %}

{% block main %}
	
<aside id="fh5co-hero">
	<div class="flexslider">
		<ul class="slides">
			{% for i in banner %}
			<li  style="background-image: url({{i.image.url}})">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center slider-text">
							<div class="slider-text-inner">
								<h1>{{ i.name }}</h1>
							</div>
						</div>
					</div>
				</div>
			</li>
			{% empty %}
			<p>Hech qanday banner mavjud emas</p>
			{% endfor %}
		  </ul>
	  </div>
</aside>

	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					<div class="fh5co-contact-info">
						<h3>Kontakt Ma'lumotlari</h3>
						<ul>
							<li class="address"> 2- MAKTAB <br> SHIFOBAXSH SUVLAR KO'CHASI, POBEDA </li>
							<li class="phone"><a href="tel://1234567920">+998950045383</a></li>
							<li class="email"><a href="mailto:info@yoursite.com">eshboyevabduvoid@gmail.com</a></li>
						</ul>
					</div>

				</div>
				<div class="col-md-6 animate-box">
					<h3>Biz bilan aloqaga o'ting</h3>


					<form method="POST">
						{% csrf_token %}
						<div class="row form-group">
							<div class="col-md-6">
								<input name="first_name" type="text" id="fname" class="form-control" placeholder="Ismingiz">
							</div>
							<div class="col-md-6">
								<input name="last_name" type="text" id="lname" class="form-control" placeholder="Familiyangiz">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<input name="email" type="text" id="email" class="form-control" placeholder="Email manzilingiz">
							</div>
						</div>


						<div class="row form-group">
							<div class="col-md-12">
								<input name="phone" type="number" id="number" class="form-control" placeholder="Telefon raqamingiz!">
							</div>
						</div>


						<div class="row form-group">
							<div class="col-md-12">
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="MATN YOZING....."></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Xabarni yuborish" class="btn btn-primary">
						</div>

					</form>		
				</div>
			</div>
			
		</div>
	</div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5549.712153159876!2d69.11886153854931!3d41.35971903677984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8f4de0886051%3A0x1eb58db84b1b481b!2s2-Maktab!5e0!3m2!1sen!2s!4v1744369419149!5m2!1sen!2s" width="1600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  

{% endblock %}
