{% extends 'base.html' %}
{% load static %}

{% block main %}
<div id="notif" class="notification">Hali bu joy ishlamaydi!</div>
	
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
			{% for i in banner %}
		   		<li style="background-image: url({{i.image.url}});">
		   			<div class="overlay-gradient"></div>
		   			<div class="container">
		   				<div class="row">
			   				<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   					<div class="slider-text-inner">
			   					<h1 class="heading-section">{{i.name}}</h1>
			   					</div>
			   				</div>
			   			</div>
		   			</div>
		   		</li>
			{% endfor %}
		  	</ul>
	  	</div>
	</aside>

	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Bizning Kurslarimiz</h2>
					
				</div>
			</div>
			<div class="row">

				{% for i in course %}
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url({{i.image.url}});">
						</a>
						<div class="desc">
							<h3><a href="#">{{i.name}}</a></h3>
							<p>{{i.title}}</p>
							<span><a onclick="showNotification()" href="#" class="btn btn-primary btn-sm btn-course">Kursni Oling</a></span>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}
